
.vs/Acacia/v15/.suo
.vs/Acacia/v15/Browse.VC.db
.vs/Acacia/v15/ipch/a6141845d35b9421.ipch
.vs/Acacia/v15/Browse.VC.opendb
.vs/Acacia/v15/ipch/b907a75496b83757.ipch
.vs/Acacia/v15/ipch/f97d1ab96b9dfb67.ipch
